.searchBar {
	padding: 0 15px;
	margin: 0 0 25px 0;

	input {
		border-color: #EBEBEB;
		border-radius: 4px 0 0 4px;
		flex: 0 1 100%;

		background-color: $light-grey;

		outline: none;

		&:focus, &:hover {
	    transition: .3s all linear;
	    border-color: #ABABAB;
			outline: none;
	  }
	}

	button {
		flex: 0 1 15%;

		border: none;
		border-radius: 0 4px 4px 0;

		background-color: $orange;
		color: white;

		font-size: 14px;
		text-transform: uppercase;

		cursor: pointer;
	}
}

.sort {
	padding: 0 0 10px 0;
	margin: 0 15px 25px;
	border-bottom: 1px solid $grey;

	label {
		margin: 0 10px 0 0;
		color: darken($grey, 50%);
	}

	@include element('select') {
		padding: 5px 0;
		border: 0;

		outline: 0;
		cursor: pointer;
	}
}

.cartTotal {
	padding: 10px;
	align-items: center;

	h4 {
		font-size: 20px;
	}

	button {
		flex: 0 1 15%;

		padding: 10px 0;
		margin-left: auto;
		border: none;
		border-radius: 4px;

		background-color: $orange;
		color: white;

		font-size: 14px;
		text-transform: uppercase;

		cursor: pointer;
		transition: all .2s ease;

		&:hover {
			background-color: darken($orange, 10%);
		}
	}
}

.products {
	width: 75%;
	margin: 25px 0;

	@include modifier('full') {
		width: 100%;
	}

	@include element('wrapper') {
		flex-wrap: wrap;

		width: 100%;
		height: auto;
	}

	.product {
		width: 33.33333%;
		min-width: 200px;
		padding: 10px;

		@include modifier('list') {
			width: 100%;

			@include element('box') {
				display: flex;
				align-items: center;
				background-color: $grey;
				margin-bottom: 20px;

				position: relative;
			}

			@include element('image') {
				width: 150px;
				height: 150px;
				background: white;
				background-position: top center;
				background-size: cover;
			}

			@include element('details') {
				width: 90%;
			}

			@include element('delete') {
				padding: 10px;

				position: absolute;
				top: 0;
				right: 0;

				&:hover {
					cursor: pointer;
				}
			}
		}

		@include element('box') {
			border: 1px solid $grey;
			border-radius: 4px;
			overflow: hidden;
		}

		@include element('image') {
			width: 100%;
			height: 180px;

			background-position: center;
			background-size: auto 95%;
			background-repeat: no-repeat;

			&:hover{
				cursor: pointer;
			}
		}

		@include element('details') {
			padding: 10px;
			background-color: $grey;
		}


		@include element('title') {
			font-size: 16px;
			line-height: 28px;
			text-transform: uppercase;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		@include element('price') {
			color: #DF7470;
			font-size: 18px;
		}

		.quantity-container{
			margin-top: 20px;
		}
		.quantity{
			width: 40px;
			height: 30px;
			line-height: 30px;
			padding: 0;
			text-align: center;
			border-color: $orange;
		}
		.increment,
		.decrement{
			width: 30px;
			height: 30px;

			border: none;
			border-color: #DA5E5A;
			border-radius: 4px 0 0 4px;
			outline: none;

			background-color: $orange;
			color: white;
			transition: all .2s ease;

			&:hover {
				cursor: pointer;
				background-color: darken($orange, 10%);
			}
		}
		.increment{
			border-radius: 0 4px 4px 0;
		}
	}
}

@media #{$breakpoint-large} {
	.products {
		width: 100%;
		padding: 0 25px;
	}
}

@media #{$breakpoint-medium} {
	.cartTotal {
		flex-wrap: wrap;

		h4 {
			line-height: 40px;
			flex: 1 0 100%;
		}

		button {
			flex: 1 0 100%;
		}
	}

	.products {
		.product {
			width: 50%;

			@at-root #{&}--list {
				width: 100%;
			}
		}
	}
}

@media #{$breakpoint-small} {
	.products {
		.product {
			width: 100%;
		}
	}
}
