.notification {
	position: absolute;
	width: 60%;
	top: 20px;
	right: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
	transition: .3s opacity ease;
	border-radius: 5px;
	background: $grey;
	border: 1px solid #e74c3c;

	p {
		color: #595959;
		font-size: 18px;
		line-height: 40px;
	}
}
