.openSidebar {
	display: none;
	padding: 25px;
	background-color: #EBEBEB;
	cursor: pointer;
}

.sidebar {
	width: 25%;
	padding: 25px 10px;

	.closeSidebar {
		display: none;
	}

	.filter {
		margin: 0 0 35px 0;

		@include element('title') {
			padding: 0 0 15px;

			color: $dark-grey;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
		}

		.categories { 
			@include element('element') {
				padding: 7px 0;

				font-size: 14px;
				font-weight: 400;

				transition: all .2s ease;

				a {
					color: #676a74;
					text-decoration: none;
				}
				&.active {
					background-color: $grey;
					padding-left: 10px;
				}
				&:hover {
					cursor: pointer;
					background-color: $grey;
					padding-left: 10px;
				}
			}
		}
	}
}

@media #{$breakpoint-large} {
	.openSidebar {
		display: block;
	}
	.sidebar {
		position: fixed;
		top: 0;
		left: -320px;
		bottom: 0;
		width: 320px;

		background-color: white;
		transition: left 350ms ease;

		&.open {
			left: 0;
		}

		.closeSidebar {
			display: block;
			position: absolute;
			right: 25px;
			top: 25px;
		}
	}
}
