// the BEM modifier() mixin
@mixin modifier($name) {
	@at-root {
		$selector: nth(&, 1);
		$direct-parent: nth($selector, length($selector));
		#{$direct-parent}--#{$name} { @extend #{$direct-parent}; }
		#{&}--#{$name} { @content; }
	}
}
// a BEM element() mixin
@mixin element($name) {
	@at-root {
		#{&}__#{$name} {
			@content;
		}
	}
}