/* Modal style */
.modal-overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .1s opacity ease;
  -moz-transition: .1s opacity ease;
  -ms-transition: .1s opacity ease;
  -o-transition: .1s opacity ease;
  transition: .1s opacity ease;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
   position: absolute;
   z-index: 9999;
   top: 50%;
   left: 50%;

   width: 60%;

   text-align:center;

   opacity: 0;

   -webkit-transition: .1s opacity ease;
      -moz-transition: .1s opacity ease;
       -ms-transition: .1s opacity ease;
        -o-transition: .1s opacity ease;
           transition: .1s opacity ease;

   -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);

   @include element('container') {
      width: 100%;
      background-color: white;
      border:1px solid $grey;
      border-radius: 5px;
      text-align:center;
      display: inline-block;
   }

    @include element('header') {
      position: relative;
      border-bottom:1px solid $grey;

      width: 100%;
      float: left;

      h1 {
         color: $dark-grey;
         font-size: 20px;
         line-height: 40px;
         text-transform: uppercase;
      }

      #closeModal {
         padding: 0;
         position: absolute;
         top: 9px;
         right: 10px;
         background: 0;
         outline: none;
         border: none;
         font-size: 20px;
         color: $orange;
         transition: all 0.2s ease;

         &:hover {
            color: #595959;
            cursor: pointer;
         }
      }
   }

   @include element('body') {
     width: 100%;
     float: left;
     padding: 30px 15px 15px;
     display: flex;

      .gallery {
        float: left;
        width: 45%;
        padding-right: 15px;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;

         img {
          max-width: 100%;
          max-height: 250px;
          // float: left;
         }
      }

      .product_info {
         float: left;
         width: 55%;
         padding-left: 15px;
         display: flex;
         flex-direction: column;

         .price {
            margin-bottom: 20px;
            float: left;
            width: 100%;
            span {
              color: $orange;
              font-size: 20px;
              float: left;
              line-height: 40px;
              margin-right: 30px;
            }
         }

         .specs {
            float: left;
            width: 100%;
            text-align: left;
            flex: 1;

            li {
               float: left;
               width: 100%;
               margin-bottom: 15px;

               span {
                  font-size: 14px;
                  float: left;
                  color: #8E8E8E;
                  width: 100px;
                  padding-right: 15px;
                  line-height: 20px;
                  text-transform: capitalize;
               }
               p {
                  font-size: 15px;
                  float: left;
                  color: #595959;
                  width: calc(100% - 100px);
                  line-height: 20px;

                  i {
                     font-size: 25px;
                     transition: all 0.2s ease;
                     &:hover {
                        color: #DE6864;
                     }
                  }
               }
            }
         }

         #add_to_basket {
            align-self: flex-end;
            border-radius: 5px;
            padding: 12px 40px;
            font-size: 14px;
            color: white;
            outline: none;
            border: 1px solid darken($orange, 10%);
            background-color: $orange;
            text-transform: uppercase;
            transition: all 0.2s ease;

            &:hover {
              background-color: darken($orange, 10%);
              cursor: pointer;
            }
          }
         .addons{
            float: left;
            width: 100%;
            text-align: left;

            h1{
               font-size: 20px;
               line-height: 40px;
               float: left;
               color: #595959;
               margin-bottom: 10px;
            }

            ul{
               float: left;
               width: 100%;

               li{
                  float: left;
                  width: 100%;
                  margin-bottom: 15px;
               }

               input[type="checkbox"]{
                  margin: 0 5px 0 0;
                  width: 15px;
                  height: 15px;
                  float: left;
               }
               label{
                  color: #8E8E8E;
                  font-size: 15px;
                  line-height: 1;
                  float: left;
               }
            }
         }
      }
   }
}

.modal-overlay.modal-open,
.modal.modal-open {
  opacity: 1;
}

/* Default Animation */
.modal-overlay.fade-and-drop {
  display: block;
  opacity: 0;
}

.modal-overlay.fade-and-drop.modal-open {
  top: 0;
  -webkit-transition: .3s opacity ease;
  -moz-transition: .3s opacity ease;
  -ms-transition: .3s opacity ease;
  -o-transition: .3s opacity ease;
  transition: .3s opacity ease;
  opacity: 1;
}

.modal-overlay.fade-and-drop {
  -webkit-transition: .2s opacity .2s ease;
  -moz-transition: .2s opacity .2s ease;
  -ms-transition: .2s opacity .2s ease;
  -o-transition: .2s opacity .2s ease;
  transition: .2s opacity .2s ease;
}

.modal.fade-and-drop {
  top: -300%;
  left: 50%;
  opacity: 1;
  display: block;
}

.modal.fade-and-drop {
  -webkit-transition: .5s top ease;
      -moz-transition: .5s top ease;
        -ms-transition: .5s top ease;
         -o-transition: .5s top ease;
            transition: .5s top ease;
}

.modal.fade-and-drop.modal-open {
  top: 50%;
  -webkit-transition: .5s top .5s ease;
  -moz-transition: .5s top .5s ease;
  -ms-transition: .5s top .5s ease;
  -o-transition: .5s top .5s ease;
  transition: .5s top .5s ease;
}


/* Responsive modal */
@media screen and (max-width: 990px) {
  .modal{
    width: 100%;
  }
  .modal__container {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
   .modal__container {
      width: 100%;
   }
}

@media screen and (max-width: 480px) {
   .modal__body{
    .gallery {
        padding-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .product_info{
        width: 100%;
        padding-left: 0;
    }
   }

}
