html, body {
	display: flex;
	flex-directioN: column;

	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-grow: 1;
	align-items: stretch;

	width: 100%;
	max-width: 1040px;
	margin: 0 auto;
}

input {
	padding: 15px 10px;
	border: 1px solid $grey;
	border-radius: 4px;

  &:focus, &:hover {
    transition: .3s all linear;
    border-color: #ABABAB;
		outline: none;
  }
}

.input {
	&[type="number"]{
		-moz-appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	@include element('group') {
		white-space: nowrap;
	}

	@include modifier('price') {
		width: 75px;
		padding: 10px 5px;
	}
}

.btn {
	padding: 10px;
	border: 0;
	margin: 0;

	cursor: pointer;

	@include modifier('transparent') {
		background-color: transparent;
	}
}

.row {
	display: flex;
}

.col {
	flex: 1;
}

.header {
	display: flex;
	height: 80px;

	border-bottom: 1px solid $grey;

	@include element('navigation') {
		display: flex;
		flex-grow: 1;

		padding: 0 50px;

		.element {
			padding: 0 15px;

			color: #333;
			font-size: 14px;
			line-height: 80px;
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 1px;

			@include modifier('right') {
				margin-left: auto;
			}
		}
	}
}

@media #{$breakpoint-large} {
	.wrapper {
		flex-flow: column;
	}
	.input {
		@at-root #{&}--price {
			width: 100px;
		}
	}
}
