@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-directioN: column;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}

input {
  padding: 15px 10px;
  border: 1px solid #F2F2F2;
}

.input[type="number"], [type="number"].input--price {
  -moz-appearance: textfield;
}
.input[type="number"]::-webkit-outer-spin-button, [type="number"].input--price::-webkit-outer-spin-button, .input[type="number"]::-webkit-inner-spin-button, [type="number"].input--price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input__group {
  white-space: nowrap;
}
.input--price {
  width: 75px;
  padding: 10px 5px;
}

.btn, .btn--transparent {
  padding: 10px;
  border: 0;
  margin: 0;
  cursor: pointer;
}
.btn--transparent {
  background-color: transparent;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.col {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  border-bottom: 1px solid #F2F2F2;
}
.header__navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 50px;
}
.header__navigation .element, .header__navigation .element--right {
  padding: 0 15px;
  color: #333;
  font-size: 14px;
  line-height: 80px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header__navigation .element--right {
  margin-left: auto;
}

@media only screen and (max-width: 860px) {
  .wrapper {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .input--price {
    width: 100px;
  }
}
.notification {
  position: absolute;
  width: 60%;
  top: 20px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  transition: .3s opacity ease;
  border-radius: 5px;
  background: #F2F2F2;
  border: 1px solid #e74c3c;
}
.notification p {
  color: #595959;
  font-size: 18px;
  line-height: 40px;
}

.openSidebar {
  display: none;
  padding: 25px;
  background-color: #EBEBEB;
  cursor: pointer;
}

.sidebar {
  width: 25%;
  padding: 25px 10px;
}
.sidebar .closeSidebar {
  display: none;
}
.sidebar .filter {
  margin: 0 0 35px 0;
}
.sidebar .filter__title {
  padding: 0 0 15px;
  color: #262626;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.sidebar .filter .categories__element {
  padding: 7px 0;
  font-size: 14px;
  font-weight: 400;
  transition: all .2s ease;
}
.sidebar .filter .categories__element a {
  color: #676a74;
  text-decoration: none;
}
.sidebar .filter .categories__element.active {
  background-color: #F2F2F2;
  padding-left: 10px;
}
.sidebar .filter .categories__element:hover {
  cursor: pointer;
  background-color: #F2F2F2;
  padding-left: 10px;
}

@media only screen and (max-width: 860px) {
  .openSidebar {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -320px;
    bottom: 0;
    width: 320px;
    background-color: white;
    transition: left 350ms ease;
  }
  .sidebar.open {
    left: 0;
  }
  .sidebar .closeSidebar {
    display: block;
    position: absolute;
    right: 25px;
    top: 25px;
  }
}
.searchBar {
  padding: 0 15px;
  margin: 0 0 25px 0;
}
.searchBar input {
  border-color: #EBEBEB;
  border-radius: 4px 0 0 4px;
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  background-color: #FCFCFC;
  outline: none;
}
.searchBar button {
  -webkit-flex: 0 1 15%;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #DE6864;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.sort {
  padding: 0 0 10px 0;
  margin: 0 0 25px 0;
  border-bottom: 1px solid #F2F2F2;
}
.sort label {
  margin: 0 10px 0 0;
  color: #737373;
}
.sort__select {
  padding: 5px 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.cartTotal {
  padding: 10px;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.cartTotal h4 {
  font-size: 20px;
}
.cartTotal button {
  -webkit-flex: 0 1 15%;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  padding: 10px 0;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  background-color: #DE6864;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ease;
}
.cartTotal button:hover {
  background-color: #d53f3a;
}

.products, .products--full {
  width: 75%;
  margin: 25px 0;
}
.products--full {
  width: 100%;
}
.products__wrapper {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.products .product, .products--full .product, .products .product--list, .products--full .product--list {
  width: 33.33333%;
  min-width: 200px;
  padding: 10px;
}
.products .product--list, .products--full .product--list {
  width: 100%;
}
.products .product--list__box, .products--full .product--list__box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  margin-bottom: 20px;
  position: relative;
}
.products .product--list__image, .products--full .product--list__image {
  width: 150px;
  height: 150px;
  background: white;
  background-position: top center;
  background-size: cover;
}
.products .product--list__details, .products--full .product--list__details {
  width: 90%;
}
.products .product--list__delete, .products--full .product--list__delete {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.products .product--list__delete:hover, .products--full .product--list__delete:hover {
  cursor: pointer;
}
.products .product__box, .products--full .product__box {
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  overflow: hidden;
}
.products .product__image, .products--full .product__image {
  width: 100%;
  height: 160px;
  background-position: center;
  background-size: cover;
}
.products .product__image:hover, .products--full .product__image:hover {
  cursor: pointer;
}
.products .product__details, .products--full .product__details {
  padding: 10px;
  background-color: #F2F2F2;
}
.products .product__title, .products--full .product__title {
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.products .product__price, .products--full .product__price {
  color: #DF7470;
  font-size: 18px;
}
.products .product .quantity-container, .products--full .product .quantity-container, .products .product--list .quantity-container, .products--full .product--list .quantity-container {
  margin-top: 20px;
}
.products .product .quantity, .products--full .product .quantity, .products .product--list .quantity, .products--full .product--list .quantity {
  width: 40px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  border-color: #DE6864;
}
.products .product .increment, .products--full .product .increment, .products .product--list .increment, .products--full .product--list .increment,
.products .product .decrement,
.products--full .product .decrement,
.products .product--list .decrement,
.products--full .product--list .decrement {
  width: 30px;
  height: 30px;
  border: none;
  border-color: #DA5E5A;
  border-radius: 4px 0 0 4px;
  outline: none;
  background-color: #DE6864;
  color: white;
  transition: all .2s ease;
}
.products .product .increment:hover, .products--full .product .increment:hover, .products .product--list .increment:hover, .products--full .product--list .increment:hover,
.products .product .decrement:hover,
.products--full .product .decrement:hover,
.products .product--list .decrement:hover,
.products--full .product--list .decrement:hover {
  cursor: pointer;
  background-color: #d53f3a;
}
.products .product .increment, .products--full .product .increment, .products .product--list .increment, .products--full .product--list .increment {
  border-radius: 0 4px 4px 0;
}

@media only screen and (max-width: 860px) {
  .products, .products--full {
    width: 100%;
    padding: 0 25px;
  }
}
@media only screen and (max-width: 650px) {
  .cartTotal {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .cartTotal h4 {
    line-height: 40px;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .cartTotal button {
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .products .product, .products--full .product, .products .product--list, .products--full .product--list {
    width: 50%;
  }
  .products .product--list, .products--full .product--list {
    width: 100%;
  }
}
@media only screen and (max-width: 460px) {
  .products .product, .products--full .product, .products .product--list, .products--full .product--list {
    width: 100%;
  }
}
/* Modal style */
.modal-overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: .1s opacity ease;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 60%;
  text-align: center;
  opacity: 0;
  transition: .1s opacity ease;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.modal__container {
  width: 100%;
  background-color: white;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
.modal__header {
  position: relative;
  border-bottom: 1px solid #F2F2F2;
  width: 100%;
  float: left;
}
.modal__header h1 {
  color: #262626;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
}
.modal__header #closeModal {
  padding: 0;
  position: absolute;
  top: 9px;
  right: 10px;
  background: 0;
  outline: none;
  border: none;
  font-size: 20px;
  color: #DE6864;
  transition: all 0.2s ease;
}
.modal__header #closeModal:hover {
  color: #595959;
  cursor: pointer;
}
.modal__body {
  width: 100%;
  float: left;
  padding: 30px 15px 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.modal__body .gallery {
  float: left;
  width: 45%;
  padding-right: 15px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.modal__body .gallery img {
  max-width: 100%;
  max-height: 250px;
}
.modal__body .product_info {
  float: left;
  width: 55%;
  padding-left: 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__body .product_info .price {
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.modal__body .product_info .price span {
  color: #DE6864;
  font-size: 20px;
  float: left;
  line-height: 40px;
  margin-right: 30px;
}
.modal__body .product_info .specs {
  float: left;
  width: 100%;
  text-align: left;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.modal__body .product_info .specs li {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.modal__body .product_info .specs li span {
  font-size: 14px;
  float: left;
  color: #8E8E8E;
  width: 100px;
  padding-right: 15px;
  line-height: 20px;
  text-transform: capitalize;
}
.modal__body .product_info .specs li p {
  font-size: 15px;
  float: left;
  color: #595959;
  width: calc(100% - 100px);
  line-height: 20px;
}
.modal__body .product_info .specs li p i {
  font-size: 25px;
  transition: all 0.2s ease;
}
.modal__body .product_info .specs li p i:hover {
  color: #DE6864;
}
.modal__body .product_info #add_to_basket {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  border-radius: 5px;
  padding: 12px 40px;
  font-size: 14px;
  color: white;
  outline: none;
  border: 1px solid #d53f3a;
  background-color: #DE6864;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.modal__body .product_info #add_to_basket:hover {
  background-color: #d53f3a;
  cursor: pointer;
}
.modal__body .product_info .addons {
  float: left;
  width: 100%;
  text-align: left;
}
.modal__body .product_info .addons h1 {
  font-size: 20px;
  line-height: 40px;
  float: left;
  color: #595959;
  margin-bottom: 10px;
}
.modal__body .product_info .addons ul {
  float: left;
  width: 100%;
}
.modal__body .product_info .addons ul li {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.modal__body .product_info .addons ul input[type="checkbox"] {
  margin: 0 5px 0 0;
  width: 15px;
  height: 15px;
  float: left;
}
.modal__body .product_info .addons ul label {
  color: #8E8E8E;
  font-size: 15px;
  line-height: 1;
  float: left;
}

.modal-overlay.modal-open,
.modal.modal-open {
  opacity: 1;
}

/* Default Animation */
.modal-overlay.fade-and-drop {
  display: block;
  opacity: 0;
}

.modal-overlay.fade-and-drop.modal-open {
  top: 0;
  transition: .3s opacity ease;
  opacity: 1;
}

.modal-overlay.fade-and-drop {
  transition: .2s opacity .2s ease;
}

.modal.fade-and-drop {
  top: -300%;
  left: 50%;
  opacity: 1;
  display: block;
}

.modal.fade-and-drop {
  transition: .5s top ease;
}

.modal.fade-and-drop.modal-open {
  top: 50%;
  transition: .5s top .5s ease;
}

/* Responsive modal */
@media screen and (max-width: 990px) {
  .modal {
    width: 100%;
  }

  .modal__container {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .modal__container {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .modal__body .gallery {
    padding-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .modal__body .product_info {
    width: 100%;
    padding-left: 0;
  }
}
